.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.my-1 {
  padding: 1.5rem 0;
}

.my-2 {
  padding: 2rem 0;
}

.my-3 {
  padding: 3rem 0;
}

.navbar-h {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #0000e6;
  padding: 1rem;
  min-height: 100px;
}

@media(max-width: 550px){
  .navbar-h {
    flex-direction: column;
  }

  .navbar-h ul {
    flex-direction: column;
  }
}

.navbar-h ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-h button {
  padding: 1rem;
  margin: 0 0.5rem;
  color: black;
  box-sizing: border-box;
  /* border-radius: 5%; */
}

.navbar-h button:hover {
  padding: 1rem;
  margin: 0 0.5rem;
  color: white;
  border: 2px solid aqua;
  background: #0000e6;
}

.navbar-h a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.navbar-h a:hover {
  background: aqua;
  color: black;
}

.btn {
  background: aqua;
  padding: 0.5rem 2rem;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  max-width: 200px;
}

.page {
  border: solid 1px black;
  min-height: 85vh;
}

/* Search page */

#search-form {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  margin: auto 0;
}

.search-select {
  background-color: blue;
  color: white;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  margin-right: 1.25rem;
}

.search-input {

}

.search-select::placeholder {
  color: white;
}

/* USER PAGE */

.user {
  border: solid 1px black;
  min-height: 85vh;
}

.quotes-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* QUOTE DISPLAY */

.quote-link {
  border: 1px solid black;
  margin: 1rem;
  min-height: 100px;
  min-width: 400px;
  max-width: 30%;
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
}

.quote-link  {
  color: #282c34;
}

.btn-quote {
  background: aqua;
  padding: 0.5rem 2rem;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  max-width: 200px;
  margin: 0 auto;
}

.quote-link p {
  margin: 0.5rem 0;
}

.quote-link button {
  margin: 0 auto;
}

@media(max-width: 700px){
  .quote-link {
    min-width: 70%;
    /* max-width: 80%; */
    display: flex;
  }

  .btn {
    /* width: 50%; */
    margin: 0 auto;
  }

  .btn-quote {
    padding: 0.25rem 1rem;
    /* max-width: 100px; */
    /* margin: 0 auto; */
  }

  .quotes-feed {
    padding: .25rem;
  }
}

/* DISPLAY */

.quote-specifics p {
  /* text-align: right; */
  margin-left: 30px;
}

/* ADD PAGE */
.add-text {
  min-width: 50%;
  margin-bottom: 1rem;
}